<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @client.name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @client.last_name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @client.address %>
</p>

<p>
  <strong>Dni:</strong>
  <%= @client.dni %>
</p>

<p>
  <strong>Dni pic:</strong>
  <a href="https://ucarecdn.com/<%= @client.dni_pic %>">Foto frontal</a>
</p>

<p>
  <strong>Dni pic 2:</strong>
  <a href="https://ucarecdn.com/<%= @client.dni_pic_2 %>">Foto posterior</a>
</p>
<p>
  <strong>Terms:</strong>
  <%= @client.terms %>
</p>
<p>
  <strong>Publicity:</strong>
  <%= @client.publicity %>
</p>
<p>
  <strong>Contract</strong>
  <%= @client.contract %>
</p>


<%= link_to 'Edit', edit_client_path(@client) %> |
<%= link_to 'Back', clients_path %>
