<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @client.name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @client.last_name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @client.address %>
</p>

<p>
  <strong>Dni:</strong>
  <%= @client.dni %>
</p>

<p>
  <strong>Dni pic:</strong>
  <img style="width:200px;height:100%" src="https://ucarecdn.com/<%= @client.dni_pic %>/">
</p>

<p>
  <strong>Dni pic 2:</strong>
  <img style="width:200px;height:100%" src="https://ucarecdn.com/<%= @client.dni_pic_2 %>/">
</p>
<p>
  <strong>Terms:</strong>
  <%= @client.terms %>
</p>
<p>
  <strong>Publicity:</strong>
  <%= @client.publicity %>
</p>
<p>
  <strong>Contract</strong>
  <%= @client.contract %>
</p>


<%= link_to 'Edit', edit_client_path(@client) %> |
<%= link_to 'Back', clients_path %>
